# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
<ul>
    <li>List popular languages for data science</li>
    <li>List popular libraries for data science</li>
    <li>List popular tools for data science</li>
</ul>

## Author
Hittanshu

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>TensorFlow</li>
    <li>NumPy</li>
</ol>

|Data Science Tools|
-----------------------------
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335